
    <head>
        <style>
              {#asset styles.css }
        </style>

    </head>
    <body>
        <div class="heading">
            <div>
                <div>
                    Обр. ”ПП”<br>
                    МУП Републике Србије, <br>
                    {{pu}}, 
                    {{spi}}<br>
                    Дана : {{datum_podnosenja_zahteva}}год.<br>
                </div>
                <div>
                    1. Правно лице <br>
                    2. Физичко лице<br>
                </div>
                <div class="prekrsaj_uocio">
                        Сл.Лице:{{ovlasceno_sluzbeno_lice.ime}}<br>
                        Бр.сл.лег.: {{ovlasceno_sluzbeno_lice.broj}}<br>
                        Назив уређаја РАДАР фаб.бр. 1234 бр. рдж. жига - уверења 5431, датум важења 23.10.2024
                </div>
            </div>
             <div class="naslov">
                <p>Ha основу Закона о општем управном поступку на лицу места / у службеним просторијама, сачињен је:</p>
                <h1>ЗАПИСНИК О ИЗВРШЕНОЈ КОНТРОЛИ УЧЕСНИКА У САОБРАЋАЈУ - ВОЗИЛА</h1>
            </div>
        </div>
        <div class="body">
            <div class="podaci">
                Дана {{datum_prijave}}.год у {{vreme_prijave}} час. и мин. 
                у месту {{mesto}} општина {{opstina}} 
                {{#put}}
                    пут {{.}} (бр.км)
                {{/put}}
                {{#ulica}}
                     {{.}} улица, 
                {{/ulica}}
               {{#raskrsnica}}
                 к.бр/раскрсница {{.}}, 
                {{/raskrsnica}}
                GPS: X = 12.12121 , Y = 1.2121212, 
                извршена је контрола 
                {{lice.ime}}{{lice.roditelj}}{{lice.prezime}}
                 рођен-а {{lice.datum_rodjenja}} године, 
                ЈМБГ {{lice.jmbg}}, 
                пол {{lice.pol}} 
                држављанин {{lice.drzavljanin}}
                Л.К.бр.{{lice.lk.broj}} 
                издата од {{lice.lk.izdata_od}} , 
                воз. дозвола 
                {{lice.voz_dozvola.kategorje}}категорије, 
                број {{lice.voz_dozvola.broj}} 
                уздата од {{lice.voz_dozvola.izdata_od}}
                у својству {{lice.svojstvo}} 
                врста {{vozilo.vrsta}} возила, 
                марке {{vozilo.marka}}
                тип {{vozilo.tip}}, 
                рег.ознаке {{vozilo.reg}}, 
                бр.шасије {{vozilo.sasija}}
                са прикључним возилом рег.озн {{priklj_vozilo.reg}}
                власника {{priklj_vozilo.vlasnik_jmbg}}
                ЈМБГ {{priklj_vozilo.jmbg}}
                корисника {{priklj_vozilo.korisnik}}
                ЈМБГ {{priklj_vozilo.korisnik_jmbg}}

            </div>

            <div class="cinjenicni_opis">
                <h2>утврђено је</h2>
                {{cinjenicni_opis}}
            <br><br>
            </div>
        <div class="zakonska_odredba">
            Што представља: 
            <ol>
                {{#zakonska_odredba}}
                   <li> прекршај - привредни преступ из чл.{{clan}}, ст. {{clan}}, тач. {{tacka}} ЗоБС-а на путевима / {{zakon}}<br></li>
                {{/zakonska_odredba}}
            </ol>
        </div>
        <div class="dodaci">
            {{#dete}}
            <div class="dete">
                У тренутку учињеног прекршаја у возилу се налазило дете млађе од 12 година: ДА <br>
                Подаци о детету: {{.}}<br>
            </div>
            {{/dete}}
                {{^dete}}
            <div class="dete">
                У тренутку учињеног прекршаја у возилу се налазило дете млађе од 12 година: НЕ<br>
            </div>
            {{/dete}}
            <div class="kontrola_izvrsena">
                    1.Контрола извршена:<br>
                    <div class="lista">
                        а) Непосредним опажањем<br>
                        б) Уређајем за утврђивање прекршаја<br>
                        в) Дубиномер<br>
                        г) Снимањем саобраћаја<br>
                        д) Техничким прегледом<br>
                        ђ) Другим средством/начином {{drugo_sredstvo}}<br>
                    </div>
            </div>
            <div class="primedbe">
                {{#primedbа}}
                    2. Контролисаном лицу је прочитан записник и на исти ИМА примедби: {{primedba}}
                {{/primedbа}}
                {{^primedbа}}
                    2. Контролисаном лицу је прочитан записник и на исти НЕМА примедби 
                    {{/primedbа}}
            </div>
            <div class="ocevici_dokazi">
                3. Очевици/докази возила: {{dokazi}}
            </div>                    
            <div class="dodatni_pmo">
                Овај записник је сачињен у три истоветна примерка, од којих је један уручен контролисаном лицу.<br>
                {{#pmo}}
                Саставни део овог записника је/није и образац "ПМО" серијског броја {{.}}
            {{/pmo}}
            {{^pmo}}
                Саставни део овог записника није и образац "ПМО" 
            {{/pmo}}
            </div>
        </div>
        <div class="footer">
                <div>Потпис контролисаног лица <br></div>
                <div>М.П. сл.значка бр. <br></div>
                <div>ПРЕЗИМЕ И ИМЕ ПОЛИЦИЈСКОГ СЛУЖБЕНИКА <br> </div>
        </div>
    </div>
</body>