
    <head>
        <style>
              {#asset styles.css @encoding=utf8}
        </style>

    </head>
    <body>
        <div class="heading">
            <div>
                <div>
                    Обр. ”ПП”<br>
                    МУП Републике Србије, <br>
                    {{pu}}<br>
                    {{spi}}<br>
                    Дана : {{datum_podnosenja_zahteva}}год.<br>
                </div>
                <div>
                    1. Правно лице <br>
                    2. Физичко лице<br>
                </div>
                    <div class="prekrsaj_uocio">
                        Сл.Лице:{{ovlasceno_sluzbeno_lice.ime}}<br>
                        Бр.сл.лег.: {{ovlasceno_sluzbeno_lice.broj}}<br>
                        Назив уређаја ____ фаб.бр. _______ бр. рдж. жига - уверења, датум важења _____ 
                </div>
            </div>
             <div class="naslov">
                <p>Ha основу Закона о општем управном поступку на лицу места / у службеним просторијама, сачињен је:</p>
                <h1>ЗАПИСНИК О ИЗВРШЕНОЈ КОНТРОЛИ УЧЕСНИКА У САОБРАЋАЈУ - ВОЗИЛА</h1>
            </div>
        </div>
        <div class="body">
            <div class="podaci">
                Дана ___ 20 __ .год у ___ час. и мин. 
                у месту ______ општина _____ пут 
                (бр.км)/улица, 
                к.бр/раскрсница ______, 
                GPS: x= ___ , y=_____, 
                извршена је контрола _____ рођен-а ____ године, 
                ЈМБГ _______, 
                пол М - Ж држављанин Л.К.бр._____ издата од ______ , 
                воз. дозвола ____ категорије, 
                број _____ уздата од _________, 
                у својству _____ 
                врста _____ возила, 
                марке _____ 
                тип ______, 
                рег.ознаке _____, 
                бр.шасије _______
                са прикључним возилом рег.озн_______
                власника _______
                ЈМБГ _______
                корисника _________
                ЈМБГ ___________

            </div>

            <div class="cinjenicni_opis">
                <h2>утврђено је</h2>
                {{cinjenicni_opis}}
            ___________________________________
            ___________________________________
            ___________________________________
            ___________________________________
            ___________________________________
            ___________________________________
            ___________________________________
            <br><br>
            </div>
        <div class="zakonska_odredba">
            Што представља: 
            <ol>
                {{#zakonska_odredba}}
                   <li> прекршај - привредни преступ из чл.{{clan}}, ст. {{clan}}, тач. {{tacka}} ЗоБС-а на путевима / {{zakon}}<br></li>
                {{/zakonska_odredba}}
            </ol>
        </div>
            <div class="dodaci">
                <div class="dete">
                    У тренутку учињеног прекршаја у возилу се налазило дете млађе од 12 година: ДА НЕ<br>
                    Подаци о детету: {{podaci_o_detetu}}<br>
                </div>
                <div class="kontrola_izvrsena">
                     1.Контрола извршена:<br>
                        <div>
                            а) Непосредним опажањем<br>
                            б) Уређајем за утврђивање прекршаја<br>
                            в) Дубиномер<br>
                            г) Снимањем саобраћаја<br>
                            д) Техничким прегледом<br>
                            ђ) Другим средством/начином {{drugo_sredstvo}}<br>
                        </div>
                </div>
                <div class="primedbe">
                    2. Контролисаном лицу је прочитан записник и на исти НЕМА/ИМА примедби ________ 
                </div>
                <div class="ocevici_dokazi">
                    3. Очевици/докази возила_________________________
                </div>                    
                <div class="dodatni_pmo">
                    Овај записник је сачињен у три истоветна примерка, од којих је један уручен контролисаном лицу.<br>
                    Саставни део овог записника је/није и образац "ПМО" серијског броја ________
                </div>
            </div>
            <div class="footer">
                    <div>Потпис контролисаног лица <br> ________</div>
                    <div>М.П. сл.значка бр. <br> ___________</div>
                    <div>ПРЕЗИМЕ И ИМЕ ПОЛИЦИЈСКОГ СЛУЖБЕНИКА <br> __________ </div>
            </div>
        </div>
    </body>