
    <head>
        <style>
            {#asset styles.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="heading">
            <div>
                МУП Републике србије 
                ПУ ______ СПИ/ПИ _______
                Дана ______ 20___ године.
            </div>
            <div>
                Обр. ”ПМО” Бр. _____
            </div>
        </div>
        <div class="body">
            <div class="naslov">
                <p>Ha основу чл. 174-175 чл. 278 - 280 чл. 282-285, чл. 287 - 292. Чл. 295, 296. И 306. Закона о безбедности саобраћаја на путевима (у даљем тексту: ЗоБС-а),издајесе</p>
                <h1>ПОТВРДА</h1>
                <h2>О ПРИМЕНИ ПОСЕБНИХ МЕРА И ОВЛАШЋЕЊА И ПРИВРЕМЕНО ОДУЗЕТИМ РЕГИСТАРСКИМ ТАБЛИЦАМА. ПУТНОЈ ИСПРАВИ. СТРАНОЈ ВОЗАЧКОЈ ДОЗВОЛИ И ПРЕДМЕТУ .ДОКАЗУ О УЧИЊЕНОМ ПРЕКРШАЈУ И ИЗДАТОМ НАРЕЂЕЊУ О ИСКЉУЧЕЊУ ВОЗАЧА - ВОЗИЛА ИЗ САОБРАЋАЈА</h2>
            </div>
            <div class="podaci">
                Дана {{datum_prijave}} године, у {{vreme_prijave}} часова, у месту {{mesto}}, улица-пут {{ulica}}, бр.км. пута {{km_puta}}, извршена је контрола учесника у саобраћају {{lice.ime}}, {{lice.roditelj}} {{lice.prezime}}, ЈМБГ {{lice.jmbg}}, у својству {{lice.svojstvo}} возила марке {{vozilo.marka}}, тип {{vozilo.tip}}, рег број {{vozilo.reg_broj}} и том приликом примењене су следеће мере и овлашћења:
            </div>
            <div class="odluka" id="1">
                На основу <b>члана 280. ст.1 и 2.члана 174.став 3. ЗоБС-а</b> дана {{datum}} 20  године у {{vreme}} часова , учесник у саобраћају је {{#podvrgnut}}подвргнут {{/podvrgnut}} - {{^podvrgnut}}одбио{{/podvrgnut}} испитивање ради утврђивања присуства алкохола, односно психоактивних супстанци у организму, уређајем марке и типа {{uredjaj.marka}} {{uredjaj.tip}} фабричког броја са уверењем  о исправности број {{uredjaj.ispravnost_broj}} важности до {{uredjaj.vaznost_datum}} године, којом приликом је утврђен садржај алкохола у крви {{uredjaj.merenje_alkohola}} mg/ml, односно присуство психоактивне супстанце што је - није оспоравао и захтевао је - није захтевао да се изврши анализа крви односно крви и урина .. 
            </div>
            <div class="odluka" id="2">
                На основу <b>члана 174.ст.2.и 4.ЗоБС-а</b>, дана  {{datum}}, {{vreme}} часова, наложено је узимање и анализа крви или крви и урина од непосредног учесника саобраћајне незгоде у здравственох установи{{zdravstvena_ustanova_testiranja}}.
            </div>
            <div class="odluka" id="3
                На основу <b>члана 280.став 4. ЗоБС-а</b>, дана {{datum}}, {{vreme}} часова, извршено је довођење лица ради стручхног прегледа у здравствену установу {{zdravstvena_ustanova_testiranja}}, којом приликом је {{testiranje_koje_je_uradjeno}}.
            </div>
            <div class="odluka" id="4">
                На основу <b>члана 287.ст.1. и 2. ЗоБС-а</b> контролисано возило је дана {{datum}} године у {{vreme}} часова, упућено на контролни технички преглед у {{tehnicki_pregled.ulica}} у месту {{tehnicki_pregled.mesto}}. Наведено возило {{#podvrgnuto}} јесте {{/podvrgnuto}} {{^podvrgnuto}} није {{/podvrgnuto}} подвргнуто контрлолном техничком прегледу на који је упућено и том приликом је утврђено да {{tehnicki_pregled.rezultat}}.
            </div>
            <div class="odluka" id="5">
                На основу <b>члана 288. ст.1 и 2. ЗоБС-а</b>, дана {{datum}} године {{vreme}} часова, наложено је да се изврши мерење осовинског оптерећења и укупне масе возила у  {{tehnicki_pregled.mesto_merenja_ukupne_mase_vozila}}. Наведено возило <b>је - није</b> подвргнуто мерењу, мерним уређајем {{tehnicki_pregled.merni_uredjaj.naziv}}, са уверењем о исправности бр. {{tehnicki_pregled.merni_uredjaj.broj}} важности до {{tehnicki_pregled.merni_uredjaj.datum_vaznosti}} године од стране <b>прив.др.</b> {{tehnicki_pregled.merni_uredjaj.privredno_drustvo}} и том приликом је утврђено {{tehnicki_pregled.merni_uredjaj.utvrdjeno}}.
            </div>
            <div class="odluka" id="6">
                На основу <b>члана 289. став 1.тач.1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16 члана, 289.став.3.-члана 290.став 3.-члана 291.став 3. - члана 175. став 1. ЗоБС-а</b>, дана {{datum}} године u {{vreme}} часова, контролисано возило је искључено из саобраћаја, због {{razlog_iskljucenja_iz_saobracaja}}. Искључење возила из саобраћаја ће трајати до престанка разлога због којих је искључено.
            </div>
            <div class="odluka" id="7">
                На основу <b>члана 279.став 1.тач.тач.1,2,3,4,5,6,7,8,9,10,11,12,13 ЗоБС-а</b>, возач се проивремено искључује из саобраћаја због {{razlog_iskljucenja_iz_saobracaja}}. Искључење траје од {{pocetak_iskljucenja.vreme}}часова, дана {{pocetak_iskljucenja.datum}} године до {{zavrstak_iskljucenja.datum}}.
            </div>
            <div class="odluka" id="8">
                На основу <b>члана 282.ст 1. и 2. ЗоБС-а </b>, дана {{datum}} године у {{vreme}} часова, извршено је премештање возила од стране пол.службеника - привредног субјекта _____ . Власник/Корисник возила може преузети возило дана ____ 20 ___ године у ____ часова у _____ ул _____ бр. _____ 
            </div>
            <div class="odluka" id="9">
                На оснву <b>члана 296. став 2. ЗоБС-а</b>, дана {{datum}} године у {{vreme}} часова, на основу донетог решења број _____ извршено је уклањање непрописно заустављеног, односно паркираног возила.
            </div>
            <div class="odluka" id="10">
                На оснoву <b>члана 284. став 3. ЗоБС-а</b>, дана {{datum}} године у {{vreme}} часова, од именоваг је привремено одузета инострана возачка дозвола бр. _____ издата од _____, која ће бити достављена министартсву надлежном за спољне послове ради враћања органу који је одузету возачку дозволу издао.
            </div>
            <div class="odluka" id="11">
                На основу <b>члана 295. став 1. ЗоБС-а</b>, дана {{datum}} године у {{vreme}} часова, привремено је одузет предмет који је био употребљен за извршење прекршаја_________________________, а одузимање који ће трајати до одлуке надлежног органа.
            </div>
            <div class="odluka" id="12">
                На основу <b>члана 295. став 2. ЗоБС-а</b>, дана {{datum}} године у {{vreme}} часова, привремено је одузет предмет подобан за доказивање противправног понашања_________________________. Предмет одузет у складу са ставом 2. овог члана ће након истека рока од 24 сата, без одлагања, бити достављен правном-физичком лицу од кога је предмет одузет по прописима који важе за лично достављање.
            </div>
            <div class="odluka" id="13">
                На основу <b>члана 295. став 3. ЗоБС-а</b>, дана {{datum}} године у {{vreme}} часова, привремено је одузет предмет који је био намењен или употребљен за извршење прекршаја, осим возила_________________________, а одузимање који ће трајати до одлуке надлежног органа.
            </div>
            <div class="odluka" id="14">
                На основу <b>члана 292. став 5. и члана 175. став 1. ЗоБС-а</b>, овлашћено службено лице је дана {{datum}} године у __ часова, од возача привремено одузело регистарске таблице рег.бр. ___ . Возач, односно власник возила, може преузети регистарске таблице након што се утврди да су престали разлози због којих је возило искључено, у СПИ/ПИ ____ у месту ____, ул ______ бр ____, соба бр. _____. Уколико рег. таблице не преузме најкасније до истека рока од 30 дана од дана истека важења регистрационе налепнице, исте ће бити достављене органу код којег се возило води у евиденцији.
            </div>
            Ова потврда је сачињена у три истоветна примерка, од којих је један примерак уручен контролисаном лицу.
            <br>
            Примедба контролисаног лица: {{primedba}}
            <div class="potpisi">
                <div>
                    ПОТПИС КОНТРОЛИСАНОГ ЛИЦА <br>
                    _____ {{kontrolisano_lice_potpis}}
                </div>
                <div>    
                    ИМЕ И ПРЕЗИМЕ ОСЛ <br>
                    ______ {{sl_lice_potpis}}
                </div>
                <div>
                    СЛ.ЗНАЧКА БРОЈ <br>
                    _______ {{znacka_broj}}
                </div>
            </div>
            
        </div>
    </body>